body {
  font-family: "poppins", sans-serif;
  font-weight: 200;
  font-size: 15px;
  text-align: center;
  background-color: hsl(0, 0%, 98%);
  color: hsl(234, 12%, 34%);
}

h1 {
  margin-top: 50px;
  font-size: 30px;
  font-weight: 200;
}

h2 {
  font-size: 30px;
  font-weight: 600;
  line-height: 0rem;
}

h4 {
 font-weight: 600;
 margin: 0px;
 margin-bottom: 5px;
}

.card-container {
  margin: 40px 0px;
  display: inline-block;
}

.card-holder {
  display: block;
}

.card {
  position: relative;
  text-align: left;
  border: 0px;
  border-radius: 10px;
  background-color: white;
  height: 200px;
  width: 300px;
  margin: 20px 10px;
  box-shadow: 11px 16px 40px -24px hsl(229, 6%, 66%);
}

.card-top {
  height: 5px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-body {
  padding: 20px;
  position: relative;
}

.card-icon {
  margin: 5px;
  height: 60px;
  width: 60px;
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.red {
  background-color: hsl(0, 78%, 62%);
}

.blue {
  background-color: hsl(212, 86%, 64%);
}

.cyan {
  background-color: hsl(180, 62%, 55%);
}

.orange {
 background-color: hsl(34, 97%, 64%);
}

@media only screen and (max-width: 970px) {
.dynamic-body {
  width: 450px; 
  display: inline;
}

.top-container {
  display: inline-block;
  width: 380px;
}
}

@media only screen and (min-width: 970px) {
.card-holder {
  display: flex;
  flex-direction: row;
  width: 940px;
  justify-content: center;
  align-items: center;
}

.top-container {
  width: 500px;
  display: inline-block;
}
}
